<div class="login">
<h1>Log in here!</h1>

<form action='/team/login' method="POST">
    TeamName: <input type=text name="teamname">
    Password: <input type=password name="password">
<input type=submit>
</div>