<h1>Please sign up your team!</h1>

<form action='/teams/signup' method="POST">
    <li>Team Name: <input type=text name="teamname"></li>
    <li>Email: <input type=text name="email"></li>
    <li>Password: <input type=password name="password"></li>
<input type=submit>

