<li>Welcome <%= @team.name %> to your home page! </li>
<li><a href="/tournaments"> View Tournaments </a></li>
<li><a href="/tournaments/new"> Create a Tournament </a></li>
<li><a href="/teams/logout"> Logout </a></li>