<div class="register">
<h1>Please Register Your Team!</h1>
<form action="teams/signup" method="post">
    <p>Teamname: <input type="text" name="name"> </p>
    <p>Password: <input type="password" name="password"> </p>
    <input type="submit" value="Register Your Team!">
</form>
</div>