<h1>This is the Tournaments form </h1>

<form action='/tournaments' method="POST">
    Name: <input type=text name="name">
    Location: <input type=text name="location">
    Date: <input type=integer name="date">
<input type=submit>