<h1>This is the Tournaments form </h1>

<form action='/tournaments' method="POST">
    <li>Name: <input type=text name="name"></li>
    <li>Location: <input type=text name="location"></li>
    <li>Date: <input type=integer name="date"></li>
<input type=submit>