<div class="container">
    <h1>Welcome to Lets Go Bowling!</h1>
    <h3>Check out bowling tournaments in your area!</h3>
    <img src=https://filmforum.org/do-not-enter-or-modify-or-erase/client-uploads/_1000w/the-big-lebowski-slide-1.jpg>
    <li><form method="get" action="/teams/signup">
    <input type="submit" value="Register!">
    </form></li>
    <li><form method="get" action="/teams/login">
    <input type="submit" value="login">
    </form></li>
</div>